<h3>ご注文は何になさいますか？</h3>
<ul>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=1">ジャーマンポテトバーガー (650 円)</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=2">ポテトコロッケバーガー (600 円)</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=3">肉じゃがバーガー (700 円)</a></li>
</ul>
