<h3>ご注文は何になさいますか？</h3>
<ul>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=1">
        ジャーマンポテトバーガー (650円)</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=2">
        ポテトコロッケバーガー (600円)</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectMainMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&main=3">
        肉じゃがバーガー (700円)</a></li>
</ul>
