<h3>サイドメニューは何になさいますか？</h3>
<ul>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectSideMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&side=1">
        フライドポテト</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectSideMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&side=2">
        ポテトサラダ</a></li>
  <li><a href="{__appRootPath}/order.php?{__eventNameKey}_selectSideMenu&{__flowExecutionTicketKey}={__flowExecutionTicket}&side=3">
        スイートポテト</a></li>
</ul>
